@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);
@import url(./module.css);


/* 숨김 콘텐츠 */
.a11y-hidden {
  background-color: yellow;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
}

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  background-color: #ccc;
  background-image: url(./images/bg_flower.png), linear-gradient(to bottom, #ccc 0%, #eee 35%, #efefef 60%, #fff 60%, #fff 100%);
  background-repeat: no-repeat, repeat;
  background-position: 50% 0, 0 0;
  
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.4rem;

  /* em / rem 단위 */
  /* em : 부모 요소로부터 상속받은 값을 기준으로 계산
  rem : root를 기준으로 계산 */
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 5;
}

/* 텍스트 링크 모음 */
.member {
  padding: 4px 0;
  text-align: right;

  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px만큼 이동 */
  transform: translateX(10px);
}

.member li {
  display: inline-block;
}

.member a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

.divider {
  margin-right: 4px;
}

/* 메인 메뉴 */
.navigation {
  padding-bottom: 40px;
}

.menu {
  background: #e85e2c
  linear-gradient(to bottom, #ef9126 0%, #e85e2c 35%, #e85e2c 70%, #ef9126 100%);
  border-top: 2px solid #222;
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px; /* border 2px 포함한 값 */

  position: relative;
}

.menu > li:nth-child(-n+3) {
  position: relative;
} 

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

.menu-button {
  background: transparent;
  border: 0;
  padding: 0 23px;

  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.6);
}

.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  background-color: #222;
  height: 2px;
  display: block;
}

.sub-menu {
  padding: 4px 0;
  position: absolute;
  top: 47px;
  display: none;
}

.menu-html, .menu-css, .menu-standards {
  left: 0;
}

.menu-accessibility, .menu-qna, .menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a {
  display: inline-block;
  padding: 6px;
}

.sub-menu a::before {
  content: "\e803";
  font-family: 'fontello';
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sub-menu a:hover::before, .sub-menu a:focus::before {
  content: "\e801";
}

.sub-menu a:hover, .sub-menu a:focus {
  color: #e85e2c;
}

/* 비주얼 */
/* @ at sign rule : 무엇을 정의하거나 선언하는 것 */

@keyframes moveEffect {
  0% {
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    transform: translate(0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    transform: translate(400px, 75px);
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before, .visual::after {
  width: 100%;
  height: 100%;

  content: "";
  position: absolute;
  top: 0;
  left: 0;

  animation: fadeEffect 2s infinite linear alternate;
}

.visual::before {
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-repeat: no-repeat;
  background-position: 0 -12px, 600px 0;
}

.visual::after {
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-repeat: no-repeat;
  background-position: 300px 0, 800px 2px;

  animation-delay: 2s;
}

.visual-text {
  position: relative;
  z-index: 5;
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;

  animation-name: moveEffect;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* 메인 */
.main{
  background: #fff;
  min-height: 450px;
  padding: 30px 15px;
  display: flow-root;
  border-radius: 15px 15px 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}

/* 로그인 */
.login {
  background: orange radial-gradient(circle at right top, orange, #e85e2c);
  padding: 12px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
}

.login-title {
  color: yellow;
  font-size: 15px;
  font-weight: bold;
  text-indent: 0.8em;
  margin-bottom: 10px;
}

.login-form {
  background-color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.login-form::after {
  display: block;
  content: "";
  width: calc(100%-20px);
  height: 1px;
  margin-top: 12px;
  background-color: #bcbcbc;
}

legend {display: none;}

.a11y-hidden {display: none;}

.login-form label {
  display: inline-block;
  width: 50px;
  margin-right: 3px;
}

.login-form input {
  width: 80px;
  font-size: 12px;
}

.login-form .user-email {margin-bottom: 5px;}

.login-btn {
  background-color: #e85e2c;
  border: 0;
  outline: 0;
  border-radius: 5px;
  width: 60px;
  height: calc(100% - 32px);
  color: white;
  
  position: absolute;
  top: 10px;
  right: 10px;
}

.sign {
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 0 10px 10px 10px;
  font-size: 12px;

  display: flex;
  justify-content: space-between;
}

.sign li::before {
  font-family: 'fontello';
  content: '\e803';
  color: #e85e2c;
  margin-right: 5px;
}

/* 유효성 검사 배너 */
.validation-list {
  margin-top: 25px;
}

.validation-list li {
  background: #bcbcbc linear-gradient(to bottom, #d2d2d2, #f1f1f1);
  border: 1px solid #959595;
  border-radius: 30px;

  width: 250px;
  height: 40px;
  margin-top: 10px;
  overflow: hidden;

  /* a 태그의 기준 */
  position: relative;
}

.validation-list a {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  border-radius: 30px;
  line-height: 40px;

  position: absolute;
  top: 0;
  left: 0;
}

.validation-list a:hover, .validation-list a:focus {color: red;}

.validation-list a::before {
  display: inline-block;
  content: url(./images/validation_icon.png);
  transform: translateY(3px);
  margin-right: 3px;
}

/* 웹 관련 용어 */
.term {
  background: #ccc linear-gradient(to bottom, #d2d2d2, #f1f1f1);
  border: 1px solid #959595;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

.term-title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}

.term-list {}

.term-list div {
  display: flow-root;
}

.term-list .div::after {
  content: "";
  display: block;
  clear: both;
}

/* .odd */
.odd {
  margin-bottom: 15px;
}

.odd .term-list-subject {
  color: #296897;
  font-weight: 500;
  float: right;
  width: 150px;
}

.odd .term-list-thumbnail {
  float: left;
}

.odd .term-list-thumbnail img {
  vertical-align: middle; /* 아래쪽 gap 사라지게 하기 위해 */
}

.odd .term-list-brief {
  float: right;
  width: 150px;
  margin-top: 5px;
  font-size: 13px;
}

/* .even */
.even {}

.even .term-list-subject {
  color: #296897;
  font-weight: 500;
  float: left;
  width: 150px;
}

.even .term-list-thumbnail {
  float: right;
}

.even .term-list-thumbnail img {
  vertical-align: middle; /* 아래쪽 gap 사라지게 하기 위해 */
}

.even .term-list-brief {
  float: left;
  width: 150px;
  margin-top: 5px;
  font-size: 13px;
}

/* 검색 폼 */
.search-form {
  background: #ccc linear-gradient(to bottom, #d2d2d2, #f1f1f1);
  border: 1px solid #959595;
  border-radius: 20px 20px 0 0;
  padding: 15px 25px 10px;
}

.search-form-inner {
  display: flex;
  justify-content: space-between;
}

.search-form label {margin-right: 8px;}

.search-form input {
  width: 188px;
  height: 25px;
  padding: 0 0 0 5px;
  font-size: 13.5px;
}

.search-form button {
  background-color: #222;
  border: 0;
  outline: 0;

  width: 45px;
  height: 25px;
  border-radius: 3px;

  color: white;
  font-size: 13px;
}

/* 공지사항 및 자료실 */
.board {
  margin-top: 20px;
  position: relative;
}

.tab-list {
  display: flex;
  flex-flow: row nowrap;
}

.tab {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  color: #666;
}

.is-select.tab {
  background-color: white;
  border-color: currentColor currentColor #fff currentColor;
  color: #e85e2c;
}

.tab-panel {
  display: none;
  margin-top: 15px;
}

.is-select.tab-panel {
  display: block;
}

.board-more {
  position: absolute;
  top: 5px;
  right: 0;
}

.icon-plus::before {
  color: hsla(110, 50%, 30%, 1);
}

.board-list {
  margin-top: 10px;
}

.board-list li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.board-list a {
  flex-grow: 1; /* 딱 글자 부분만 영역인 게 아니라 한 줄 전체가 영역일 수 있도록 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 세 개 세트로 쓰임 */
}

/* 새 소식 */
.news {
  position: relative;
  margin-top: 20px;
  padding-bottom: 15px;
}

.news-title {
  font-size: 15px;
  font-weight: 700;
}

.news-title::after {
  content: "";
  background: #aaa linear-gradient(to right, #ccc, #fff);
  width: 90%;
  height: 1px;

  position: absolute;
  top: 30px;
  left: 0;
}

.news-link {display: block;}

.news-item {
  position: relative;
}

.news-item-title {
  position: absolute;
  top: 30px;
  left: 130px;
  font-weight: 500;
}

.news-item-date {
  position: absolute;
  top: 55px;
  left: 130px;
}

.news-item-brief {
  position: absolute;
  top: 80px;
  left: 130px;

  font-size: 14px;
  line-height: 1.5em;
}

.news-item-thumbnail {
  position: absolute;
  top: 30px;
  left: 0;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 0 15px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.news-more {
  position: absolute;
  top: 2px;
  right: 0;
}

.board-list time {flex-shrink: 0;}

/* 신규 이벤트 및 관련 사이트 */
.event {
  border-bottom: 1px solid #aaa;
}

.event-title {
  display: inline-block;
}

.event-button-wrapper {
  height: 20px;
  float: right;
  overflow: hidden;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}

/* IR 기법 -> Image Replacement */
.event-button {
  width: 19px;
  height: 18px;
  border: 0;
  padding: 18px 0 0 0;
  background: url(./images/back_forward.png) no-repeat;
}

.event-button-next {
  background-position: -36px 0;
}

.event-button:focus {
  outline-offset: -2px;
}

.event-thumbnail,
.event-brief {
  margin: 10px 0;
}

.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #ccc;
}

.event-brief {
  line-height: 1.5;
}

.related {
  margin-top: 10px;
}

.related-list {
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  transition: height 400ms 0ms, padding 400ms 400ms;
}

.related-list li {
  height: 25px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 5px;
}

.related-list a {
  flex-grow: 1;
  padding: 0 10px;
}

.related-list:hover,
.related-list:focus {
  height: 147px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 인기 사이트 */
.favorite {
  position: relative;
}

.favorite-list {
  list-style: none;
}

.favorite-list li {
  margin-top: 10px;
  position: relative;
}

.favorite-list li::before {
  background-color: #aaa;
  border-radius: 3px;
  width: 1.5em;
  margin-right: 3px;
  display: inline-block;

  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
}

.no1::before {content: "1";}
.no2::before {content: "2";}
.no3::before {content: "3";}
.no4::before {content: "4";}

.favorite-list li em {
  position: absolute;
  top: 3px;
  right: 0;
}

.up, .stop, .down {
  display: inline-block;
  width: 9px;
  height: 11px;
}

.up {
  background-image: url(./images/rank.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.stop {
  background-image: url(./images/rank.png);
  background-repeat: no-repeat;
  background-position: 0 48%;
}

.down {
  background-image: url(./images/rank.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.favorite-more {
  position: absolute;
  top: 0;
  right: 0;
}

/* 슬로건 */
.slogan{
  background: skyblue;
  height: 10vh;
  clear: both;
}

/* 푸터 */
.footer{
  background: gray;
  width: 100vw;
  height: 15vh;
  margin: 0 auto;
}

.footer-inner {
  background-color: silver;
  height: 15vh;
}